<div *ngIf="prescriptions.length > 0">
    <div *ngFor="let prescription of prescriptions | slice:0:3" class="card mt-2">
        <div class="card-header lead font-weight-bold text-center">{{ 'historyCard.title' | translate }} - {{prescription.title}}
        </div>
        <div class="card-body">
            <h6 class="card-title"><span class="font-weight-bold">{{'historyCard.reason' | translate}} </span>{{prescription.doctor.name}}</h6>
            <ul class="list-unstyled card-text">
                <li> <span class="font-weight-bold">{{'historyCard.date' | translate}}  </span>{{prescription.date}}</li>
                <li> <span class="font-weight-bold">{{'historyCard.title' | translate}}: </span></li>
                <div class="text-centered mx-auto">

                    {{prescription.details}}
                </div>
            </ul>
        </div>
    </div>
</div>