<div class="container-fluid mt-3 mt-xl-5">
    <div class="row pt-xl-5 px-4">
        <div class="d-none d-md-block col-sm-6 introBackground">
        </div>
        <div class="col-12 col-md-6 p-5">
            <h1 class="text-left display-4 font-weight-bold">{{ 'landingPage.section1.title' | translate }}</h1>
            <p class="text-left lead"> <b class="secondaryColor"> {{ 'landingPage.section1.bold' | translate }} </b>
                {{ 'landingPage.section1.text' | translate }} </p>
        </div>
    </div>
</div>