<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <div class="container p-3">
        <h1 class="secondaryColor my-4"> Mi Perfil</h1>

        <h3 class="secondaryColor mb-3">Mi información</h3>
        <p class="lead"> Nombre: {{name}} </p>
        <p class="lead"> Correo: {{email}} </p>
        <p class="lead"> Fecha de nacimiento: {{dateBorn}}</p>
        <p class="lead"> Tipo de Sangre: {{bloodType}} </p>
        <app-qr-modal></app-qr-modal>

        <div class="lineDividerBlue mt-3 mb-3"></div>

        <h2 class="secondaryColor my-4"> Mis Estadísticas</h2>
        <p class="lead my-3"> Citas Médicas y Recetas</p>
        <app-bar-chart></app-bar-chart>
        <p class="lead my-3"> Citas con Mis Doctores</p>
        <app-pie-chart></app-pie-chart>
    </div>
</div>