<div class="container p-3">
    <p class="display-3 font-weight-bold text-center secondaryColor mb-5 row"> Medify </p>




    <!--
                <form [formGroup]="loginForm">
                    <br>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Correo Eléctronico" [formControl]="emailFormControl" formControlName="loginEmail" required>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Ingrese un correo valido
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Correo es <strong>obligatorio</strong>
                        </mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="w-100">
                        <input matInput type="password" placeholder="Contraseña" [formControl]="passwordFormControl" formControlName="loginPassword" required>
                    </mat-form-field>
        
                    <button type="submit" (click)="onClickSubmit(emailFormControl.value, passwordFormControl.value)" class="btn btn-primary mx-auto d-block text-decoration-none">
                        Iniciar Sesión
                    </button>
                </form>
                <div *ngIf="name == 'patient' ">
                    <p class="lead text-center mt-3"> <a href="/register-patient"> ¿No tienes cuenta? </a></p>
                    <p class="lead text-center mt-3"> <a href="/login/doctor"> ¿Eres doctor? </a></p>
                </div>
                <div *ngIf="name == 'doctor'">
                    <p class="lead text-center mt-3"> <a href="/register-doctor"> ¿No tienes cuenta? </a></p>
                    <p class="lead text-center mt-3"> <a href="/login/patient"> ¿Eres paciente? </a></p>
                </div>
                -->



</div>
<div class="container mt-3">
    <div class=" text-center secondaryColor h2" *ngIf="name == 'patient'">Inicio de Sesión -
        Paciente
    </div>
    <div class="text-center secondaryColor h2" *ngIf="name == 'doctor'">Inicio de Sesión -
        Doctor
    </div>
</div>



<div class="container">
    <amplify-authenticator [signUpConfig]="signUpConfig" class="secondaryColor"></amplify-authenticator>
</div>