<div class="container p-3">
    <p class="display-3 font-weight-bold text-center secondaryColor mb-5"> Medify </p>
    <div class="card-header text-center secondaryColorBg text-white" *ngIf="name == 'patient'">Inicio de Sesión - Paciente
    </div>
    <div class="card-header text-center secondaryColorBg text-white" *ngIf="name == 'doctor'">Inicio de Sesión - Doctor
    </div>
    <div class="card-body">
        <form [[formGroup]="loginForm" ] action="../html/dashboard.html">
            Value: {{ loginForm.value | json}}
            <mat-form-field>
                <input matInput placeholder="Correo Eléctronico" formControlName="loginEmail">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Contraseña" formControlName="loginPassword">
            </mat-form-field>

            <button type="submit" class="btn btn-primary mx-auto d-block">Iniciar Sesión</button>
        </form>
        <div *ngIf="name == 'patient' ">
            <p class="lead text-center mt-3"> <a href="/register-patient"> ¿No tienes cuenta? </a></p>
            <p class="lead text-center mt-3"> <a href="/login/doctor"> ¿Eres doctor? </a></p>
        </div>
        <div *ngIf="name == 'doctor'">
            <p class="lead text-center mt-3"> <a href="/register-doctor"> ¿No tienes cuenta? </a></p>
            <p class="lead text-center mt-3"> <a href="/login/patient"> ¿Eres paciente? </a></p>
        </div>

    </div>
</div>