<div *ngIf="appointments.length > 0">
    <div *ngFor="let appointment of appointments" class="card mt-2">
        <div class="card-header lead font-weight-bold">{{appointment.doctor.name}} - {{appointment.location}}
        </div>
        <div class="card-body">
            <h6 class="card-title">{{'appointmentCard.reason' | translate}} {{appointment.concept}}</h6>
            <ul class="list-unstyled card-text">
                <li> {{'appointmentCard.time' | translate}} {{appointment.startTime}}</li>
                <li> {{'appointmentCard.address' | translate}} {{appointment.location}}</li>
                <li> <a class="secondaryColor" href="/patient/appointments-detail/{{appointment.id}}" data-toggle="tooltip" data-placement="right" data-original-title="Ver cita">{{'appointmentCard.more' | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <h6 class="secondaryColor ">{{appointment.dayName}} </h6>
        </div>
    </div>
</div>