<div class="card mt-2 ">
    <div class="card-header lead font-weight-bold">{{doctorName}} - {{place}}
    </div>
    <div class="card-body">
        <h6 class="card-title">Razón: {{appointmentReason}}</h6>
        <ul class="list-unstyled card-text">
            <li> Horario: {{time}}</li>
            <li> Dirección: {{address}}</li>
            <li> <a class="secondaryColor" href="../html/appointmentDetail.html" data-toggle="tooltip"
                    data-placement="right" data-original-title="Ver cita">Ver
                    más</a></li>
        </ul>
    </div>
    <div class="card-footer">
        <h6 class="secondaryColor ">{{date}} </h6>
    </div>
</div>