<div class="container-fluid py-2 py-sm-3 py-xl-5 secondaryColorBg mainColor" id="historial">
    <h1 class="text-center mt-3">Administra tu historial médico</h1>
    <div class="row py-3">
        <div class="col-12 col-sm-3 my-2 my-sm-0">
            <i class="fas fa-file-alt fa-5x mx-auto d-block mb-4"></i>
            <h4 class=" text-center">Ingresa tus datos</h4>
        </div>
        <div class="col-12 col-sm-1 my-2 my-sm-0">
            <i class="fas fa-arrows-alt-h fa-4x mx-auto d-none d-sm-block"></i>
            <i class="fas fa-arrows-alt-v fa-3x mx-auto d-block d-sm-none"></i>
        </div>
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <i class="fas fa-share-square fa-5x mx-auto d-block mb-4"></i>
            <h4 class="text-center">Comparte con tu médico</h4>
        </div>
        <div class="col-12 col-sm-1 my-2 my-sm-0">
            <i class="fas fa-arrows-alt-h fa-4x mx-auto d-none d-sm-block"></i>
            <i class="fas fa-arrows-alt-v fa-3x mx-auto d-block d-sm-none"></i>
        </div>
        <div class="col-12 col-sm-3 my-2 my-sm-0">
            <i class="fas fa-edit fa-5x mx-auto d-block mb-4"></i>
            <h4 class=" text-center">Actualiza tu historial</h4>
        </div>
    </div>
</div>