<div class="container-fluid py-2 py-sm-3 py-xl-5 secondaryColorBg mainColor" id="historial">
    <h1 class="text-center mt-3">{{ 'landingPage.section4.title' | translate }}</h1>
    <div class="row py-3">
        <div class="col-12 col-sm-3 my-2 my-sm-0">
            <img src="../../assets/img/input.png" class="mx-auto d-block mb-3" style="max-width: 120px;"
                alt="input Icon">
            <h4 class=" text-center">{{ 'landingPage.section4.item1' | translate }}</h4>
        </div>
        <div class="col-12 col-sm-1 my-2 my-sm-0 pt-md-3">
            <i class="fas fa-arrows-alt-h fa-4x mx-auto d-none d-sm-block"></i>
            <i class="fas fa-arrows-alt-v fa-3x mx-auto d-block d-sm-none"></i>
        </div>
        <div class="col-12 col-sm-4 ">
            <img src="../../assets/img/email.png" class="mx-auto d-block mb-3" style="max-width: 120px;"
                alt="Email Icon">
            <h4 class="text-center">{{ 'landingPage.section4.item2' | translate }}</h4>
        </div>

        <div class="col-12 col-sm-1 my-2 my-sm-0 pt-md-3">
            <i class="fas fa-arrows-alt-h fa-4x mx-auto d-none d-sm-block"></i>
            <i class="fas fa-arrows-alt-v fa-3x mx-auto d-block d-sm-none"></i>
        </div>
        <div class="col-12 col-sm-3 my-2 my-sm-0">
            <img src="../../assets/img/update.png" class="mx-auto d-block mb-3" style="max-width: 120px;"
                alt="Update Icon">
            <h4 class=" text-center">{{ 'landingPage.section4.item3' | translate }}</h4>
        </div>
    </div>
</div>