<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <app-dashboard-toast></app-dashboard-toast>
    <p class="font-weight-bold text-center secondaryColor mt-1 sectionTitle "> Agenda </p>
    <div class="lineDividerBlue mt-3 mb-3 "></div>
    <app-dr-dashboard-card></app-dr-dashboard-card>


    <!-- Fixed ADD DATE BUTTON -->


    <div class="col-3 addDateDesktop d-none d-md-block mx-auto text-center">
        <a href="drNewAppointmentQR.html" title="Crear nueva cita"
            class="btn btn-primary mx-auto d-block fixedBottomRight">Añadir Cita
        </a>
    </div>


    <div class="addDateMobile d-block d-sm-block d-md-none">
        <a href="drNewAppointmentQR.html" title="Crear nueva cita"
            class="btn btn-lg btn-primary mx-auto d-block fixedBottomRight">+
        </a>
    </div>
</div>