<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <div class="container">
        <app-dashboard-toast></app-dashboard-toast>
        <h1 class="secondaryColor my-4">
            {{ 'dashboardDoctor.title' | translate}}
        </h1>
        <app-google-calendar></app-google-calendar>
        <app-dr-dashboard-card></app-dr-dashboard-card>
        <!-- 
        <div class="row">
            <a class="secondaryColor" href="/patient/prescriptions-detail" data-toggle="tooltip" data-placement="right"
            data-original-title="Ver cita" class="mr-auto mr-5 lead">{{'appointmentCard.more' | translate}}</a>
        </div>-->
        <!-- Fixed ADD DATE BUTTON -->


        <div class="col-3 addDateDesktop d-none d-md-block text-center" style="position:fixed;bottom:60px; right:10px;">
            <a href=" dr/appointment/patient-qr" title="Crear nueva cita" class="btn btn-primary mx-auto d-block">
                {{ 'dashboardDoctor.button' | translate}}
            </a>
        </div>


        <div class="addDateMobile d-block d-sm-block d-md-none">
            <a href="dr/appointment/patient-qr" title="Crear nueva cita" class="btn btn-lg btn-primary mx-auto d-block fixedBottomRight">+
            </a>
        </div>
    </div>

</div>