<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <div class="container p-3" [@pageAnimations]="true">
        <h1 class="secondaryColor my-4"> {{ 'historyDetail.title' | translate }} </h1>
        <!-- Card  -->
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary text-center">{{ 'historyDetail.cardTitle' | translate }}
                    Sinusitis aguda</strong>
                <h6 class="mb-0">
                    <a class="text-dark mt-2">{{ 'historyDetail.reason' | translate }} - Dr. López</a>
                </h6>
                <div class="mb-1 text-muted small mt-2">18/ago/2019</div>
                <ul class="list-unstyled card-text">
                    <li> Dificultades para respirar</li>
                    <li> Dolor intenso en de la cabeza al moverse</li>
                    <li> Bajo apetito</li>
                </ul>
                <a class="btn btn-outline-primary btn-sm" role="button"
                    href="/patient/prescriptions-detail">{{ 'historyDetail.button' | translate }}</a>
            </div>
        </div>
        <!-- Card  -->
        <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary">{{ 'historyDetail.cardTitle' | translate }} Fractura en
                    brazo derecho </strong>
                <h6 class="mb-0">
                    <a class="text-dark mt-2">{{ 'historyDetail.reason' | translate }} - Dra. Jimenez</a>
                </h6>
                <div class="mb-1 text-muted small mt-2">10/ago/2019</div>
                <p class="card-text mb-3 mt-3">Fractura aguda en hueso perineo 1 sección b</p>
                <a class="btn btn-outline-primary btn-sm" role="button" href="/patient/prescriptions-detail">Ver
                    Receta</a>

            </div>
            <a href="../img/xray.jpg" target="_blank">
                <img class="card-img-right flex-auto d-none d-sm-block" alt="Thumbnail [200x250]"
                    src="../../assets/img/xray.jpg" style="width: 200px; height: 250px;">
            </a>

        </div>
        <app-qr-modal></app-qr-modal>
    </div>
</div>