<div *ngIf="prescriptions.length >0">
    <div *ngFor="let prescription of prescriptions">
        <div class="card text-center my-2" [@EnterLeave]="flyIn">
            <div class="card-header font-weight-bold lead">
                {{prescription.doctor.institute}}
            </div>
            <div class="card-body">
                <div class="row">
                    <h5 class="text-left col-6">{{ 'prescriptionDetail.appointment' | translate }} {{prescription.title}}
                    </h5>
                    <h5 class="text-right col-6">{{prescription.doctor.name}}</h5>
                </div>

                <p class="card-text">
                    <div class="row">
                        <ul class="list-group col-10">
                            <li *ngFor="let med of prescription.meds" class="list-group-item text-left"> {{med.name}}
                            </li>
                        </ul>
                        <ul class="list-group col-2">
                            <div *ngFor="let med of prescription.meds">
                                <div *ngIf="med.delivered == 'true'; else notDelivered">
                                    <li class="list-group-item secondaryColor"> <i class="fas fa-check"></i></li>
                                </div>
                                <ng-template #notDelivered>
                                    <li class="list-group-item text-danger"> <i class="fas fa-times"></i></li>
                                </ng-template>
                            </div>

                        </ul>
                    </div>
                    <div class="row text-center">
                        <h5 class="my-2 secondaryColor mx-auto">{{prescription.status}}</h5>
                    </div>
            </div>
            <div class="card-footer text-muted">
                {{ 'prescriptionDetail.valid' | translate }} {{prescription.endDate}}
            </div>
            <br>
        </div>
        <div class="lineDividerBlue mt-3 mb-3"></div>
    </div>

</div>