<div *ngIf="prescriptions.length >0">
    <div *ngFor="let prescription of prescriptions; index as i">
        <div class="card text-center my-2" [@EnterLeave]="flyIn">
            <div class="card-header font-weight-bold lead">
                {{prescription.doctor.institute}}
            </div>
            <div class="card-body">
                <div class="row d-flex d-sm-none">
                    <h6 class="text-left col-6">{{ 'prescriptionDetail.appointment' | translate }}
                        {{prescription.title}}
                    </h6>
                    <h6 class="text-right col-6">{{prescription.doctor.name}}</h6>
                </div>
                <div class="row d-none d-sm-flex">
                    <h4 class="text-left col-6">{{ 'prescriptionDetail.appointment' | translate }}
                        {{prescription.title}}
                    </h4>
                    <h4 class="text-right col-6">{{prescription.doctor.name}}</h4>
                </div>

                <p class="card-text">
                    {{prescription.details}}
                    <div class="row">
                        <ul class="list-group col-10">
                            <li *ngFor="let med of prescription.meds" class="list-group-item text-left"> {{med.name}}
                            </li>
                        </ul>
                        <ul class="list-group col-2">
                            <div *ngFor="let med of prescription.meds; index as j">
                                <div *ngIf="med.delivered == 'true'; else notDelivered">
                                    <li style="cursor: pointer;" class="list-group-item secondaryColor"
                                        (click)="changeDeliveryStatus(i,j)"> <i class="fas fa-check"></i></li>

                                </div>
                                <ng-template #notDelivered>
                                    <li style="cursor: pointer;" class="list-group-item text-danger"
                                        (click)="changeDeliveryStatus(i,j)">
                                        <i class="fas fa-times"></i> </li>
                                </ng-template>
                            </div>

                        </ul>
                    </div>
                    <div class="row text-center">
                        <h5 class="my-2 secondaryColor mx-auto">{{prescription.status}}</h5>
                    </div>
            </div>
            <div class="card-footer text-muted">
                {{ 'prescriptionDetail.valid' | translate }} {{prescription.endDate}}
            </div>
            <br>
        </div>
        <div class="lineDividerBlue mt-3 mb-3"></div>
    </div>
</div>
<div *ngIf="prescriptions.length == 0">
    <div class="secondarycolor mx-auto h3 text-centered">{{ 'dashboardPatient.emptyPrescriptions' | translate}}
    </div>
</div>