<!-- LandingPage SideBar  -->

<nav *ngIf="isLandingPage" id="sidebar">
    <div id="dismiss" onclick="dismiss()">
        <i class="fas fa-times"></i>
    </div>

    <div class="sidebar-header">
        <h3 class="secondaryColor">{{'sidebar.title' | translate}}</h3>
    </div>

    <ul class="list-unstyled">
        <li>
            <a href="/landing">{{'sidebar.title' | translate }}</a>
        </li>
        <li>
            <a href="/landing#citas">{{ 'sidebar.li1' | translate }}</a>
        </li>
        <li>
            <a href="/landing#historial">{{ 'sidebar.li2' | translate }}</a>
        </li>
        <li>
            <a href="/landing#recetas">{{ 'sidebar.li3' | translate }}</a>
        </li>
        <li>
            <a href="/about">{{ 'sidebar.li4' | translate }}</a>
        </li>
    </ul>

    <h5 class="text-center mt-3">{{ 'sidebar.register' | translate }}</h5>
    <a data-toggle="tooltip" title="Crear cuenta de paciente" href="/login/patient"
        class="btn btnSideBar mx-auto d-block mt-3 w-75">{{ 'sidebar.registerPatient' | translate }}</a>
    <a data-toggle="tooltip" title="Crear cuenta de paciente" href="/login/doctor"
        class="btn btnSideBar mx-auto d-block mt-3 w-75">{{ 'sidebar.registerDoctor' | translate }}</a>
</nav>

<!-- Doctor SideBar  -->
<nav *ngIf="isDoctor" id="sidebar">
    <div id="dismiss" onclick="dismiss()">
        <i class="fas fa-times"></i>
    </div>

    <div class="sidebar-header">
        <h3 class="secondaryColor">{{ 'sidebarDoctor.title' | translate }}</h3>
    </div>

    <ul class="list-unstyled">
        <li class="active">
            <a href="#">{{ 'sidebarDoctor.li1' | translate }}</a>
        </li>
    </ul>

    <button class="btn btnSideBar mx-auto d-block mt-3" (click)="logout()" onclick="window.location.href='/logout'">
        {{ 'sidebarDoctor.logout' | translate }} </button>
    <div class="row p-3">
        <button class="btn btn-secondary  rounded border-white col-6 " (click)="changeLanguage('es')"
            [ngClass]="{'secondaryColorBg': language == 'es'}">Español</button>
        <button class="btn btn-secondary  rounded border-white col-6 " (click)="changeLanguage('en')"
            [ngClass]="{'secondaryColorBg': language == 'en'}">English</button>
    </div>

</nav>

<!-- Patient SideBar  -->
<nav *ngIf="isPatient" id="sidebar">
    <div id="dismiss" onclick="dismiss()">
        <i class="fas fa-times"></i>
    </div>

    <div class="sidebar-header">
        <h3 class="secondaryColor">{{ 'sidebarPatient.title' | translate }}</h3>
    </div>

    <ul class="list-unstyled">
        <li id="dash">
            <a href="/patient/dashboard">{{ 'sidebarPatient.li1' | translate }}</a>
        </li>
        <li id="appointments">
            <a href="/patient/appointments-detail">{{ 'sidebarPatient.li2' | translate }}</a>
        </li>
        <li id="history">
            <a href="/patient/history-detail">{{ 'sidebarPatient.li3' | translate }}</a>
        </li>
        <li id="prescriptions">
            <a href="/patient/prescriptions-detail">{{ 'sidebarPatient.li4' | translate }}</a>
        </li>
        <li id="profile">
            <a href="/patient/profile">{{ 'sidebarPatient.li5' | translate }}</a>
        </li>
    </ul>


    <button class="btn btnSideBar mx-auto d-block mt-3" (click)="logout()"
        onclick="window.location.href='/logout'">{{ 'sidebarPatient.logout' | translate }} </button>
    <hr>
    <div class="row p-3">
        <button class="btn btn-secondary  rounded border-white col-6 " (click)="changeLanguage('es')"
            [ngClass]="{'secondaryColorBg': language == 'es'}">Español</button>
        <button class="btn btn-secondary  rounded border-white col-6 " (click)="changeLanguage('en')"
            [ngClass]="{'secondaryColorBg': language == 'en'}">English</button>
    </div>


</nav>