<nav id="sidebar">
    <div id="dismiss" onclick="dismiss()">
        <i class=" fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3 class="secondaryColor">Medify</h3>
    </div>

    <ul class="list-unstyled">
        <li class="active">
            <a>Inicio</a>
        </li>
        <li>
            <a href="index.html#citas">Citas</a>
        </li>
        <li>
            <a href="index.html#historial">Historial</a>
        </li>
        <li>
            <a href="index.html#recetas">Recetas</a>
        </li>
        <li>
            <a href="html/about.html">Acerca</a>
        </li>
    </ul>

    <h5 class="text-center mt-3">Registrarte</h5>
    <a data-toggle="tooltip" title="Crear cuenta de paciente" href="html/register.html"
        class="btn btnSideBar mx-auto d-block mt-3 w-75">Soy Paciente</a>
    <a data-toggle="tooltip" title="Crear cuenta de paciente" href="html/doctorRegister.html"
        class="btn btnSideBar mx-auto d-block mt-3 w-75">Soy Doctor</a>

</nav>