<div class="container-fluid py-2 py-sm-3 py-xl-5 secondaryColorBg">
    <div class="row px-3">
        <div class="d-block d-md-none col-12 ">
            <img src="img/Blockstack-logo.png" class="img-fluid mx-auto d-block" alt="Blockstack logo">
        </div>
        <div class="col-12 col-md-6 p-5 mainColor">
            <h1 class="text-left display-4 font-weight-bold">Tus datos seguros</h1>
            <p class="text-left lead"> <b class="text-body"> Medify </b> mantiene tu información segura
                con tecnología de Blockchain. </p>
        </div>
        <div class="d-none d-md-block col-md-6">
            <img src="../../assets/img/Blockstack-logo.png" class="img-fluid mx-auto d-block" alt="Blockstack logo">
        </div>
    </div>
</div>