<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <div class="container p-3">
        <h4 class="text-center ml-auto">{{ 'addPrescriptionQR.title' | translate}}</h4>
        <div class="w-75 mx-auto my-3">
            <form [formGroup]="codeFormGroup">
                <mat-form-field class="w-100">
                    <label class="text-muted"> {{'addPrescriptionQR.placeHolder' | translate}} </label>
                    <input matInput formControlName="code" required>
                </mat-form-field>
            </form>
        </div>

        <div>
            <a href="dr/prescription/create/{{patientId}}" data-toggle="tooltip" title="Continuar nueva receta"
                class="btn btn-lg btn-primary mx-auto d-block w-50 mt-3">{{ 'addPrescriptionQR.button' | translate}}
            </a>
        </div>
    </div>
</div>