<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <div class="container p-3">
        <p class="font-weight-bold text-center secondaryColor mt-1 sectionTitle"> {{ 'patientInfo.title' | translate}}
        </p>
        <div class="lineDividerBlue mt-3 mb-3"></div>
        <div class="row">
            <div class="col">
                <div class="box-part text-center">

                    <i class="fa fa-male fa-3x" aria-hidden="true"></i>

                    <div class="title">
                        <h4>{{name}} </h4>
                    </div>

                    <div class="text">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="font-weight-bold mr-1">
                                    {{ 'patientInfo.li1' | translate}}</span> {{bloodType}}
                            </li>
                            <li class="list-group-item"><span
                                    class="font-weight-bold mr-1">{{ 'patientInfo.li2' | translate}}</span> {{weight}}
                            </li>
                            <li class="list-group-item"><span
                                    class="font-weight-bold mr-1">{{ 'patientInfo.li3' | translate}}</span> {{height}}
                            </li>
                            <li class="list-group-item"><span
                                    class="font-weight-bold mr-1">{{ 'patientInfo.li4' | translate}}</span>Hypertiroidismo
                            </li>
                            <li class="list-group-item"><span
                                    class="font-weight-bold mr-1">{{ 'patientInfo.li5' | translate}}
                                </span>Benzoamina, Tropifocil
                            </li>
                            <li class="list-group-item"><span
                                    class="font-weight-bold mr-1">{{ 'patientInfo.li6' | translate}}</span>
                                <p>
                                    Ha llevado el tratamiento para inmunodeficiencia por 4 meses, se han visto mejoras
                                    externas de clase A
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="addDateDesktop mx-auto">
                <button class="btn btn-lg btn-primary d-block"
                    onclick="window.location.href='dr/prescription/patient-qr'">{{ 'patientInfo.button' | translate}}</button>

            </div>
        </div>
    </div>
</div>