<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container p-3">
    <h4 class="text-center ml-auto">Nueva Receta</h4>
</div>
<div class=" w-75 text-justified ml-5  mb-2 mt-0 text-secondary">
    <p class="my-1">17/Sep/2019</p>
    <p class="my-1">Dra. Mara Escalante</p>
    <p class="my-1">Consultorio Buenvida 10</p>
</div>
<div class="lineDividerBlue mt-3 mb-3"></div>
<div class="w-75 mx-auto">
    <form [formGroup]="createPrescriptionForm" action="../html/drPatientInfo.html">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputTitlePrescription">Título</label>
                <input type="text" class="form-control" id="inputTitlePrescription" placeholder="texto" required>
            </div>
            <div class="form-group col-md-6">
                <label for="inputDesPrescriptionTextArea">Diagnóstico</label>
                <textarea class="form-control" id="inputDesPrescriptionTextArea" rows="3" style="resize: none;" required></textarea>
            </div>
        </div>
        <div class="row d-none d-md-flex">
            <div class="form-group col-6">
                <h4>Medicamento</h4>
            </div>
            <div class="form-group col-6">
                <h4>Cantidad</h4>
            </div>
        </div>
        <mat-form-field>
            <mat-select [formControl]="medControl" placeholder="Medicinas" [multiple]="true" #multiSelect>
                <ngx-mat-select-search [formControl]="medFilter"></ngx-mat-select-search>
                <mat-option *ngFor="let med of filteredMeds | async" [value]="medicine">
                    {{medicine.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button type="submit" title="Confirmar Receta" class="btn btn-primary mb-5">Continuar</button>
    </form>
</div>