<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div id="content my-3">
    <div class="container p-3">
        <h4 class="text-center ml-auto">Nueva cita</h4>
        <div class="card">
            <div class="card-header">
                Paciente: {{patientName}}
            </div>
            <div class=" m-auto my-3">
                <form class="my-2">
                    <div class="form-row">
                        <div class="form-group col-md-12 my-3">
                            <label for="inputTitlePrescription">Título</label>
                            <input type="text" class="form-control" id="inputTitlePrescription" placeholder="Revisión diabetes" required>
                        </div>
                    </div>
                    <mat-form-field class="my-2">
                        <label for="inputTitlePrescription">Elegir Fecha</label>
                        <input matInput [matDatepicker]="appointmentDatepicker">
                        <mat-datepicker-toggle [for]="appointmentDatepicker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" #appointmentDatepicker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <label for="inputTimePrescription">Hora: </label>
                    <input class="mx-3 my-3" [ngxTimepicker]="picker" placeholder="1:00 PM">
                    <ngx-material-timepicker #picker></ngx-material-timepicker>
                    <button type="submit" title="Confirmar Cita" class="btn btn-primary my-5 m-auto w-75">Confirmar cita</button>

                </form>
            </div>
        </div>
    </div>

</div>