<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <div class="container p-3">
        <h4 class="text-center ml-auto">{{ 'createAppointment.title' | translate}}</h4>
        <div class=" w-75 text-justified ml-5  mb-2 mt-0 text-secondary">
            <p>
                {{ 'createAppointment.cardHeader' | translate}} {{patientName}}
            </p>
        </div>
        <div class="lineDividerBlue mt-3 mb-3"></div>
        <div class="w-75 mx-auto ">

            <div class="m-auto my-3">
                <form [formGroup]="newAppointmentForm" class="my-2 p-2">
                    <label for="title">{{ 'createAppointment.labelTitle' | translate}}</label>
                    <mat-form-field class="w-100">
                        <input matInput [formControl]="appointmentTitle" required>
                    </mat-form-field>
                    <br>
                    <label for="inputTitlePrescription">{{ 'createAppointment.labelDate' | translate}}</label>
                    <mat-form-field class="my-2 w-100">
                        <input matInput [formControl]="appointmentDate" [matDatepicker]="appointmentDatepicker" required>
                        <mat-datepicker-toggle [for]="appointmentDatepicker" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker touchUi="false" #appointmentDatepicker></mat-datepicker>
                    </mat-form-field>

                    <label for="inputTimePrescription">{{ 'createAppointment.labelHour' | translate}}</label>
                    <div style="display: flex; border-bottom: 1px solid rgba(0,0,0,.42);" class="mb-4 w-100">
                        <input required [formControl]="appointmentStartTime" [ngxTimepicker]="toggleTimepicker" [disableClick]="true" readonly class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored">
                        <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                    </div>
                    <label for="inputTimePrescription2">{{ 'createAppointment.labelHour2' | translate}}</label>
                    <div style="display: flex; border-bottom: 1px solid rgba(0,0,0,.42);" class="mb-4 w-100">
                        <input [formControl]="appointmentEndTime" required [ngxTimepicker]="toggleTimepicker2" [disableClick]="true" readonly class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored">
                        <ngx-material-timepicker-toggle [for]="toggleTimepicker2"></ngx-material-timepicker-toggle>
                        <ngx-material-timepicker #toggleTimepicker2></ngx-material-timepicker>
                    </div>
                    <button type="submit" title="Confirmar Cita" (click)="onClickSubmit(appointmentTitle.value, appointmentDate.value, appointmentStartTime.value, appointmentEndTime.value)" class="btn btn-primary my-5 mx-auto w-75 d-block">{{ 'createAppointment.button' | translate}}</button>
                </form>
            </div>
        </div>
    </div>

</div>