<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <div class=" container">
        <h1 class="display-4 text-center">
            <small class="text-muted">Por Ali Villegas, Julian Herrera, Saul Neri</small>
        </h1>
        <ul class="list-unstyled lead text-center mt-5">
            <li>
                <h3> <a href="../../assets/media/Entrega primer parcial.pdf" class="secondaryColor">Documentación y
                        descripción del
                        proyecto </a> </h3>
            </li>
            <li>
                <h3> <a href="../../assets/media/Validation Entrega.zip" class="secondaryColor">Validacion W3C</a> </h3>
            </li>
        </ul>
    </div>
</div>