<div class="row row-striped">
    <div class="d-none d-sm-none d-md-block col-2 text-right">
        <h1 class="display-4"><span class="badge badge-secondary">14</span></h1>
        <h2>SEP</h2>
    </div>
    <div class="col-10">
        <h3 class="text-uppercase "><strong> <a href="drPatientInfo.html" data-toggle="tooltip"
                    title="Ver info del paciente" class="patientName">Julián
                    Herrera</a></strong></h3>
        <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Lunes</li>
            <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
            <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> área terminal 1</li>
        </ul>
        <p>4ta revisión para dar seguimiento a cáncer</p>
    </div>
</div>