<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <button type="button" id="sidebarCollapse" class="btn" onclick="show()">
        <i class="fas fa-bars fa-2x secondaryColor"></i>
    </button>
    <h2 class="ml-auto d-block secondaryColor display-4">{{ 'navbar.title' | translate }}</h2>
    <!-- LandingPage navbar  -->

    <ul *ngIf="isLandingPage" class="nav navbar-nav ml-auto d-none d-sm-block">
        <li class="nav-item active">
            <a class="nav-link secondaryColor" href="/register-patient" data-toggle="tooltip" data-placement="bottom" title="Iniciar sesion">{{ 'navbar.loginPatient' | translate }}</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link secondaryColor" href="/register-doctor" data-toggle="tooltip" data-placement="bottom" title="Iniciar sesion">{{ 'navbar.loginDoctor' | translate }}</a>
        </li>
    </ul>
    <!-- Dashboard navbar  -->

    <ul *ngIf="isDashboardPage" class="nav navbar-nav ml-auto d-none d-sm-block">
    </ul>
    <!-- Return Arrow navbar  -->
    <ul *ngIf="hasReturnArrow" class="nav navbar-nav ml-auto returnArrow">
        <li><a (click)="previousPage()" data-toggle="tooltip" data-placement="bottom" title="Regresar"><i class="fas fa-arrow-left fa-2x secondaryColor"></i></a></li>
    </ul>
</nav>