<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <div class="container p-3">
        <h1 class="secondaryColor my-4"> {{ 'prescriptionDetail.title' | translate }} </h1>
        <div class="card text-center">
            <div class="card-header font-weight-bold lead">
                Hospital Médico Nirvae
            </div>
            <div class="card-body">
                <div class="row">
                    <h5 class="text-left col-6">{{ 'prescriptionDetail.appointment' | translate }} Dolor de cabeza</h5>
                    <h5 class="text-right col-6">Dr. Perez</h5>
                </div>

                <p class="card-text">
                    <div class="row">
                        <ul class="list-group col-10">
                            <li class="list-group-item text-left">Antiflus 100mg</li>
                            <li class="list-group-item text-left">Paracetamol 10mg tabletas</li>
                            <li class="list-group-item text-left ">Jarabe Omeatín-B 50ml</li>
                        </ul>
                        <ul class="list-group col-2">
                            <li class="list-group-item secondaryColor"><i class="fas fa-check"></i></li>
                            <li class="list-group-item"><i class="fas fa-times"></i></li>
                            <li class="list-group-item secondaryColor"><i class="fas fa-check"></i></li>

                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-9 col-lg-10">
                            <h5 class="mt-2 mb-0 text-warning text-left">Parcialmente entregada</h5>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-2">
                            <a href="#" class="mt-3 btn btn-primary" data-toggle="modal"
                                data-target="#compartir">{{ 'prescriptionDetail.button' | translate }}</a>
                        </div>
                        <div class="modal fade" id="compartir" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title secondaryColor" id="exampleModalCenterTitle">
                                            Código QR de la receta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="../img/qr-code.png" class="img-fluid" alt="QR">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




            </div>
            <div class="card-footer text-muted">
                {{ 'prescriptionDetail.valid' | translate }} 16/Sep/2019
            </div>
        </div>
        <div class="lineDividerBlue mt-3 mb-3"></div>

        <div class="card text-center">
            <div class="card-header font-weight-bold lead">
                Consultorio médico especialista Lor. Mónaco
            </div>
            <div class="card-body">
                <div class="row">
                    <h5 class="text-left col-6">{{ 'appointmentDetail.appointment' | translate }} Revision Diabetes</h5>
                    <h5 class="text-right col-6">Dra. Monaco</h5>
                </div>

                <p class="card-text">
                    <div class="row">
                        <ul class="list-group col-10">
                            <li class="list-group-item text-left">Insulina 10ml</li>
                        </ul>
                        <ul class="list-group col-2">
                            <li class="list-group-item secondaryColor"><i class="fas fa-check"></i></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-9 col-lg-10">
                            <h5 class="mt-2 mb-0 secondaryColor text-left">Medicina Entregada</h5>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-2">
                            <a class="mt-3 btn btn-secondary  disabled text-light"
                                role="button">{{ 'prescriptionDetail.button' | translate }}</a>
                        </div>
                    </div>

            </div>
            <div class="card-footer text-muted">
                {{ 'prescriptionDetail.valid' | translate }} 10/Sep/2019
            </div>
        </div>

        <div class="lineDividerBlue mt-3 mb-3"></div>

        <div class="card text-center">
            <div class="card-header font-weight-bold lead">
                Hospital Médica Nirvae
            </div>
            <div class="card-body">
                <div class="row">
                    <h5 class="text-left col-6">{{ 'appointmentDetail.appointment' | translate }} Laceración en pecho
                    </h5>
                    <h5 class="text-right col-6">Dr. Gómez</h5>
                </div>

                <p class="card-text">
                    <div class="row">
                        <ul class="list-group col-10">
                            <li class="list-group-item text-left">Deslomix 100mg</li>
                            <li class="list-group-item text-left">naloxona 22mg tabletas</li>
                            <li class="list-group-item text-left ">Jazitromicina 500mg</li>
                        </ul>
                        <ul class="list-group col-2">
                            <li class="list-group-item secondaryColor"><i class="fas fa-times"></i></li>
                            <li class="list-group-item"><i class="fas fa-check"></i></li>
                            <li class="list-group-item secondaryColor"><i class="fas fa-times"></i></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-9 col-lg-10">
                            <h5 class="mt-2 mb-0 text-warning text-left">Parcialmente Entregada</h5>
                        </div>
                        <div class="col-6 col-sm-3 col-lg-2">
                            <a href="#" class="mt-3 btn btn-primary" data-toggle="modal"
                                data-target="#compartir2">{{ 'prescriptionDetail.button' | translate }}</a>
                        </div>
                        <div class="modal fade" id="compartir2" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title secondaryColor" id="exampleModalCenterTitle">
                                            Código QR de la receta</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="../img/qr-code.png" class="img-fluid" alt="QR">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="card-footer text-muted">
                {{ 'prescriptionDetail.valid' | translate }}16/Sep/2019
            </div>
        </div>
        <app-qr-modal></app-qr-modal>

    </div>
</div>