<app-sidebar></app-sidebar>
<div id="content">
    <app-navbar></app-navbar>
    <app-carousel-landing></app-carousel-landing>
    <app-section1-landing></app-section1-landing>
    <app-section2-landing></app-section2-landing>
    <app-section3-landing></app-section3-landing>
    <app-section4-landing></app-section4-landing>
    <app-section5-landing></app-section5-landing>
    <app-footer></app-footer>
</div>
<button class="btn btn-primary rounded border-white" style="position:fixed;bottom:50px; left:10px; z-index: 10;"
    (click)="changeLanguage('es')" [ngClass]="{'disabled btn-secondary': language == 'es'}">ES</button>
<button class="btn btn-primary rounded border-white" style="position:fixed;bottom:10px; left:10px; z-index: 10;"
    (click)="changeLanguage('en')" [ngClass]="{'disabled btn-secondary': language == 'en'}">EN </button>