@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* ---------------------------------------------------
    General STYLE
----------------------------------------------------- */
body {
  font-family: "Poppins", sans-serif !important;
  background: #fafafa;
}

.mainColor {
  color: #fafafa !important;
}

.secondaryColor {
  color: #1e88e5 !important;
}

.secondaryColorBg {
  background-color: #1e88e5 !important;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: #fafafa;
  color: black;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#sidebar::-webkit-scrollbar {
  display: none;
}

#sidebar.active {
  left: 0;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  text-decoration: none;
}

#sidebar ul li a:hover {
  color: #fafafa !important;
  background: #1e88e5 !important;
}

#sidebar ul li.active {
  color: #fafafa !important;
  background: #1e88e5 !important;
}

#sidebar ul li.active a {
  color: #fafafa !important;
}

.btnSideBar {
  color: #fafafa !important;
  background: #1e88e5 !important;
}

.btnSideBar:hover {
  background-color: #6ab7ff !important;
}

button a {
  color: #fafafa;
  text-decoration: none;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #fafafa;
  color: #1e88e5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

/* ---------------------------------------------------
    PAGE STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.list-unstyled li a {
  text-decoration: none;
  color: black;
}

.lineDividerBlue {
  height: 1px;
  width: 90%;
  margin: 0 auto;
  border-top: solid 1.5px #1e88e5;
}

.img-carousel {
  height: 100vh;
  width: 100vw !important;
  object-fit: cover;
}

.carousel-caption-right {
  left: 0% !important;
  top: 25% !important;
  right: 55% !important;
}

.carousel-caption-left {
  right: 0% !important;
  top: 25% !important;
  left: 55% !important;
}

.carousel-caption-center {
  right: 15% !important;
  top: 25% !important;
  left: 15% !important;
}

.noAStyle a {
  color: inherit;
  text-decoration: none !important;
}

.sectionTitle {
  font-size: 24px;
}

/* The container */
.containerCheckboxes {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckboxes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheckboxes:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckboxes input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheckboxes input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckboxes .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card {
  border: none;
  background: #ffffff;
  border-radius: 0px !important;
}

.fixedBottomRight {
  position: fixed;
  bottom: 50px;
  right: 20%;
}

.patientName {
  color: #1e88e5 !important;
}

/* ---------------------------------------------------
    RESPONSIVE STYLE
----------------------------------------------------- */
@media screen and (max-width: 768px) {
  .display-4 {
    font-size: 2rem !important;
  }

  .fixedBottomRight {
    position: fixed;
    bottom: 20px;
    right: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
