<div *ngIf="prescriptions.length > 0">

    <div *ngFor="let prescription of prescriptions | slice:0:3" class="card mt-2">
        <div class="card-header  lead font-weight-bold">{{prescription.doctor.institute}}
        </div>
        <div class="card-body">
            <ul class="list-unstyled card-text">
                <li> {{ 'prescriptionCard.doctorName' | translate }} {{prescription.doctor.name}} </li>
                <li> {{ 'prescriptionCard.reason' | translate }}{{prescription.title}} </li>
            </ul>
        </div>
        <div class=" card-footer">
            <h6 class="secondaryColor">{{prescription.date}}</h6>
        </div>
    </div>
</div>