<div class="container-fluid py-2 py-sm-3 py-xl-5" id="citas">
    <h1 class="text-center mt-3">Organiza tus citas médicas</h1>
    <div class="row py-3 px-3">
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <i class="fas fa-calendar-alt fa-5x mx-auto d-block mb-4"></i>
            <h4 class="text-center"> Lleva una agenda de tus citas</h4>
        </div>
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <i class="fas fa-undo-alt fa-5x mx-auto d-block mb-4"></i>
            <h4 class="text-center"> Re agenda citas médicas</h4>
        </div>
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <i class="fas fa-search fa-5x mx-auto d-block mb-4"></i>
            <h4 class="text-center"> Consulta citas pasadas</h4>
        </div>
    </div>
</div>