<div class="container-fluid py-2 py-sm-3 py-xl-5" id="citas">
    <h1 class="text-center mt-3">{{ 'landingPage.section3.title' | translate }}</h1>
    <div class="row py-3 px-3">
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <i class="fas fa-calendar-alt fa-5x mx-auto d-block mb-4"></i>
            <h4 class="text-center"> {{ 'landingPage.section3.item1' | translate }}</h4>
        </div>
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <i class="fas fa-undo-alt fa-5x mx-auto d-block mb-4"></i>
            <h4 class="text-center"> {{ 'landingPage.section3.item2' | translate }}</h4>
        </div>
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <i class="fas fa-search fa-5x mx-auto d-block mb-4"></i>
            <h4 class="text-center"> {{ 'landingPage.section3.item3' | translate }}</h4>
        </div>
    </div>
</div>