<div class="container-fluid py-2 py-sm-3 py-xl-5" id="citas">
    <h1 class="text-center mt-3">{{ 'landingPage.section3.title' | translate }}</h1>
    <div class="row py-3 px-3">
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <img src="../../assets/img/calendar.png" class="mx-auto d-block mb-3" style="max-width: 120px;"
                alt="Calendar Icon">
            <h4 class="text-center"> {{ 'landingPage.section3.item1' | translate }}</h4>
        </div>
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <img src="../../assets/img/redo.png" class="mx-auto d-block mb-3" style="max-width: 120px;" alt="Redo Icon">
            <h4 class="text-center"> {{ 'landingPage.section3.item2' | translate }}</h4>
        </div>
        <div class="col-12 col-sm-4 my-2 my-sm-0">
            <img src="../../assets/img/file.png" class="mx-auto d-block mb-3" style="max-width: 120px;" alt="File Icon">
            <h4 class="text-center"> {{ 'landingPage.section3.item3' | translate }}</h4>
        </div>
    </div>
</div>