<button class="btn btn-primary " style="position:fixed;bottom:20px; left:10px;" data-toggle="modal"
    data-target="#exampleModalCenter"> {{ 'modalQR.view' | translate }} </button>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title secondaryColor" id="exampleModalCenterTitle">{{modalTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Tu código es: <b> 86257 </b></h5>
                <h6>Enseñalo a tu doctor para que pueda registrar una cita o recetar medicamentos.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{modalFooter}}</button>
            </div>
        </div>
    </div>
</div>