<div class="row px-3">
    <div class="col-12 col-sm-3">
        <p id="name" class="secondaryColor"></p>
    </div>
    <div class="col-12 col-sm-4">
        <button id="insert_button" style="display: none;" class="btn btn-primary mx-auto" (click)="insertEvents()"> <i
                class="fas fa-calendar-plus"></i> Agregar
            mis
            citas</button>
    </div>
    <div class="col-12 col-sm-5">
        <button id="authorize_button" style="display: none;" class="btn btn-primary ml-auto"> Autorizar-Calendario
            Google</button>
        <button id="signout_button" style="display: none;" class="btn btn-primary ml-auto"> Cerrar Sesión-Calendario
            Google</button>
    </div>

</div>